<!-- grid layout -->
<div class="card">
  <header class="card-header">
    <div class="form-row">
      <div class="col-md-8">
        <a class="card-header-title" [routerLink]="['/products', product.productId]">
          {{ product.productName | truncate:30 }}
        </a></div>

      <div class="col-md-4">
        <p class="text-secondary strikethrough">{{ product.price | currency }}</p>
        <strong class="text-danger">{{ product.salePrice | currency }}</strong>
      </div>
    </div>


  </header>
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="product.imageUrl" [alt]="product.productName">
    </figure>
  </div>
  <div class="card-content">

    <div *ngIf="pretty; else pennycontent">
      <div class="content has-text-centered">
        {{ product.description | truncate:130 }}
      </div>
    </div>
    <ng-template #pennycontent>
      <div class="content has-text-centered">
        {{ product.description | truncate:60 }}
      </div>

      <p>
        <ngb-progressbar type="warning" [value]="percentage" height=".5rem">.</ngb-progressbar>
      </p>
      <div class="row">
        <div class="align-self-start">
          <p class="text-success ml-3 mr-2">Sold: {{product.generatedInterest}}</p>
        </div>
        <div class="align-self-end">
          <p [ngClass]="needClass">{{needthresholdtext}} </p>
        </div>
      </div>

    </ng-template>
  </div>
  <footer class="card-footer">
    <app-number-input [(val)]="quantity" (valAdd)="onValAdd()" (valSub)="onValSub()" [minDisabled]="quantity === 1">
    </app-number-input>

    <div *ngIf="pretty; else penny" class="float-right">
      <button class="btn btn-primary btn-sm ml-4 mt-1" style="cursor: pointer;" (click)="onAddToCart(product)">
        Add to Cart
      </button>
    </div>
    <ng-template #penny>
      <button class="btn btn-warning btn-sm text-white ml-3" style="cursor: pointer;" (click)="onAddToCart(product)">
        Add to Interests
      </button>
    </ng-template>

  </footer>
</div>
