<!-- grid layout -->
<div class="card">
  <header class="card-header">
    <a class="card-header-title" [routerLink]="['/products', product.productId]">
      {{ product.productName }}
    </a>

    <span class="card-header-icon has-text-grey-light">
      <small>{{ product.price | currency }}</small>
    </span>
  </header>
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="product.imageUrl" [alt]="product.productName">
    </figure>
  </div>
  <div class="card-content">
    <div class="content has-text-centered">
      {{ product.description | truncate:60 }}
    </div>
  </div>
  <footer class="card-footer">

    <app-number-input [(val)]="quantity" (valAdd)="onValAdd()" (valSub)="onValSub()" [minDisabled]="quantity === 1">
    </app-number-input>
    <div *ngIf="pretty">
      <button class="card-footer-item btn btn-primary" [disabled]="!loggedIn" style="cursor: pointer;" (click)="onAddToCart(product)">
        Add to Cart
      </button>
    </div>
    <ng-template>
      <button class="card-footer-item btn btn-secondary" [disabled]="!loggedIn" style="cursor: pointer;" (click)="onAddToCart(product)">
        Add to Interests
      </button>
    </ng-template>

  </footer>
</div>
