<form>

  <div class="form-group">
    <label for="inputAddress">Product Name</label>
    <input type="text" class="form-control" id="name" placeholder="Apple iphone x">
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Brand Name</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Category</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Sub Category</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress">Product Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputState">Listing Type</label>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">Pretty ( Just Listing for Sale )</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Penny ( Wholesale Retail with minimum quantity )</label>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Minimum Threshold Value</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Minimum Threshold Value">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">MSRP (Manufacturer's Suggested Retail Price)</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">$</span>
        </div>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="inputZip">Sale Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">$</span>
        </div>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">List Product</button>
</form>
