<div *ngIf="isLoading" class="loaderOverlay">
  <div class="loader">Loading...</div>
</div>


<div class="columns">
  <div class="column is-two-thirds">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ product ? product?.productName : 'loading' }}
        </p>
        <span class="card-header-icon">
          <small>{{ product ? (product.price | currency) : 'loading' }}</small>
        </span>
      </header>
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="product ? product.imageUrl : 'http://via.placeholder.com/500x500'" [alt]="product?.productName" />
        </figure>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
    <a class="button is-light" routerLink="/products">
      <span class="icon">
        <i class="fas fa-arrow-left"></i>
      </span>&nbsp; Back to Products
    </a>

    <hr>

    <app-number-input [(val)]="quantity" (valAdd)="onValAdd()" (valSub)="onValSub()" [minDisabled]="quantity === 1">
    </app-number-input>
    <app-number-input [(val)]="quantity" (valAdd)="onValAdd()" (valSub)="onValSub()" [minDisabled]="quantity === 1">
      </app-number-input>
      <div *ngIf="pretty; else penny">
        <button class="card-footer-item btn btn-primary" [disabled]="!loggedIn" style="cursor: pointer;" (click)="addToCart(product)">
          Add to Cart
        </button>
      </div>
      <ng-template #penny>
        <button class="card-footer-item btn btn-secondary" [disabled]="!loggedIn" style="cursor: pointer;" (click)="addToCart(product)">
          Add to Interests
        </button>
      </ng-template>

    <hr>

    <div class="card-content">
      <div class="content">

        <h2>To add: product image slider and zoom</h2>

        {{ product ? product.description : 'loading' }}
      </div>
    </div>
  </div>
</div>
