<div *ngIf="this.alertShow" class="card mb-3">
  <div class="card-body">
    <div [ngClass]="alertClass" id="productviewalert">
      {{alertContent}}
    </div>
  </div>
</div>

<div *ngIf="this.prettyShow" class="card mb-3">
  <div class="card-header text-white bg-secondary">Pretty Items</div>
  <div class="card-body">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Category</th>
          <th scope="col">Sub Category</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Sale Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prettyProduct of prettyProducts">
          <td>{{prettyProduct.productName}}</td>
          <td>{{prettyProduct.taxonomy.name}}</td>
          <td>{{prettyProduct.taxonomy.type}}</td>
          <td>{{prettyProduct.taxonomy.subType}}</td>
          <td>{{prettyProduct.interestThreshold}}</td>
          <td>{{prettyProduct.price}}</td>
          <td>{{prettyProduct.salePrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="this.pennyShow" class="card mb-3">
  <div class="card-header text-white bg-warning">Penny Items</div>
  <div class="card-body">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Category</th>
          <th scope="col">Sub Category</th>
          <th scope="col">Threshold Value</th>
          <th scope="col">Generated Interest</th>
          <th scope="col">Price</th>
          <th scope="col">Sale Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pennyProduct of pennyProducts">
          <td>{{pennyProduct.productName}}</td>
          <td>{{pennyProduct.taxonomy.name}}</td>
          <td>{{pennyProduct.taxonomy.type}}</td>
          <td>{{pennyProduct.taxonomy.subType}}</td>
          <td>{{pennyProduct.interestThreshold}}</td>
          <td>{{pennyProduct.generatedInterest}}</td>
          <td>{{pennyProduct.price}}</td>
          <td>{{pennyProduct.salePrice}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
