<div class="card">
  <div class="card-header text-white bg-secondary">
    Add Products
  </div>
  <div class="card-body">
    <form #addProductForm='ngForm' (ngSubmit)="addProduct(addProductForm)">
      <div *ngIf="this.alertShow" [ngClass]="alertClass" id="productaddalert">
        {{alertContent}}
      </div>
      <div class="form-group">
        <label for="inputAddress">Product Name</label>
        <input type="text" class="form-control" [(ngModel)]="product.productName" name="productName"
          placeholder="Apple iphone x">
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="brandName">Brand Name</label>
          <select id="brandName" class="form-control" [(ngModel)]="taxonomy.name" name="brandName">
            <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="category">Category</label>
          <select id="category" class="form-control" [(ngModel)]="taxonomy.type" name="brandType">
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="subCategory">Sub Category</label>
          <select id="subCategory" class="form-control" [(ngModel)]="taxonomy.subType" name="brandSubType">
            <option *ngFor="let subCategory of subCategories" [value]="subCategory">{{subCategory}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>Image Path</label>
        <input type="text" class="form-control" [(ngModel)]="product.imageUrl" name="imagePath"
          placeholder="https://ss7.vzw.com/is/image/VerizonWireless/iphone-x-kf-device-tab-d-1-hero?$pngalpha$&scl=2">
      </div>

      <div class="form-group">
        <label>Product Description</label>
        <textarea class="form-control" [(ngModel)]="product.description" name="productDescription" rows="5"></textarea>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Listing Type</label>
          <select id="category" class="form-control" [(ngModel)]="listType" name="listType" (change)="changeLabel()">
            <option value ="Pretty">Pretty (Just Listing for Sale)</option>
            <option value ="Penny">Penny (Wholesale Retail with minimum quantity)</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">{{quantityLabel}}</label>
          <input type="text" class="form-control" [(ngModel)]="product.interestThreshold" name="quantity"
            placeholder="{{quantityLabel}}">
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="product.price" name="msrp">
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="inputZip">Sale Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="product.salePrice" name="salePrice">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">List Product</button>
    </form>
  </div>
</div>
