<!-- list layout -->
<td class="card--list__img">
  <img [src]="product.imageUrl" [alt]="product.productName" height="200" />
</td>
<td class="card--list__name">

  <h2>

    <strong><a [routerLink]="['/products', product.productId]">
        {{ product.productName }}
      </a></strong>
  </h2>
  <p>{{ product.description | truncate:200 }}</p>
  <div *ngIf="!pretty">
    <p>
      <ngb-progressbar type="warning" [value]="percentage" height=".5rem">.</ngb-progressbar>
    </p>
    <div class="row">
      <div class="align-self-start">
        <p class="text-success ml-3 mr-2">Sold: {{product.generatedInterest}}</p>
      </div>
      <div class="align-self-end">
        <p [ngClass]="needClass">{{needthresholdtext}} </p>
      </div>
    </div>
  </div>
</td>
<td class="card--list__price">
  <div>
    <strong class="text-danger price">{{ product.salePrice | currency }}</strong>
    <p class="text-secondary was"><strong><span class="save bg-danger text-white">Save {{ product? (save | currency) : '' }} </span></strong><br>Was {{ product.price | currency }}</p>
  </div>
</td>
<td class="card--list__ctas">
  <div class="buttons has-addons">
    <a class="button" [routerLink]="['/products', product.productId]">
      <span class="icon is-small">
        <i class="fas fa-search-plus"></i>
      </span>
    </a>
    <app-number-input [(val)]="quantity" (valAdd)="onValAdd()" (valSub)="onValSub()" [minDisabled]="quantity === 1">
    </app-number-input>
    <button [ngClass]="pretty ? 'btn-primary' : 'btn-warning text-white'" class="btn" (click)="onAddToCart(product)">
      <span class="icon is-small">
        <i class="fas fa-cart-plus"></i>
      </span>
    </button>
  </div>
</td>
