<div class='container-fluid bg-secondary'>

  <div class='col-12 carousel-container'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img [src]="homeURI + 'assets/images/1.jpg'" alt="Loading">
        <div class="carousel-caption">
          <h1 class="display-1">Welcome to Pretty Penny!</h1>
          <h3><a class="btn btn-primary" [href]="homeURI + 'products'">Shop now &raquo;</a></h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="homeURI + 'assets/images/2.jpg'" alt="Loading">
        <div class="carousel-caption">
          <h1 class="display-1">Login/Register</h1>
          <h3><a class="btn btn-primary" [href]="homeURI + 'login'">Register for an account today &raquo;</a></h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="homeURI + 'assets/images/3.jpg'" alt="Loading">
        <div class="carousel-caption">
          <h1 class="display-1">Contact us</h1>
          <h3><a class="btn btn-primary" [href]="homeURI + 'contact'">Contact us if you have questions &raquo;</a></h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="homeURI + 'assets/images/4.jpg'" alt="Loading">
        <div class="carousel-caption">
          <h1 class="display-1">Welcome to Pretty Penny!</h1>
          <h3><a class="btn btn-primary" [href]="homeURI + 'products'">Shop now &raquo;</a></h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>
